body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin: 0;
	padding: 0;
}

#header
{
	color: #fff;
	height: 30px;
	background-color: #036;
}

#header a
{
	color: #fff;
}

#branding
{
	margin: 0;
	padding: 10px 0 0 10px;
	font-size: 125%;
	line-height: 10px;
	text-shadow: black 2px 2px 3px;
}

#branding a { text-decoration: none; }

#account_links
{
	float: right;
	text-shadow: black 2px 2px 3px;
	margin: 0 10px 0 0;
	padding: 0;
	line-height: 30px;
}

#sidepanel
{
	width: 15em;
	position: absolute;
	top: 30px;
	left: 0;
	padding: .5em 1em;
}

#sidepanel h3,
#dashboard_menu h3
{
	color: #000;
	margin: 0;
	padding: 0 0 .5em 0;
}

#sidepanel p,
#dashboard_menu p
{
	margin: 0;
	padding: 1em 0;
}

#sidepanel ul,
#dashboard_menu ul
{
	list-style: none;
	margin: 0 0 1em 0;
	padding: 0 0 0 .5em;
}

#sidepanel ul li,
#dashboard_menu ul li
{
	margin: 0 0 .2em 0;
}

#sidepanel ul li ul,
#dashboard_menu ul li ul
{
	margin: 0;
}

#content
{
	margin: 0 0 0 17em;
	padding: 1em;
}

#content h1, 
#content h2, 
#content h3, 
#content h4, 
#content p { margin-top: 0; }

table.styled
{
	border-collapse: collapse;
	width: 100%;
	border-color: #666;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 1em;
}

table.styled th,
table.styled td { padding: 0.3em 1em; }

table.styled th.sortup
{
	background-color: #666;
	background-image: url(/images/down_arrow.png);
	background-position: top right;
	background-repeat: no-repeat;
}

table.styled th.sortdown 
{ 
	background-color: #666;
	background-image: url(/images/up_arrow.png);
	background-position: top right;
	background-repeat: no-repeat;
}

table.styled caption
{
	font-size: 1.3em;
	font-weight: bold;
	text-align: left;
}

table.styled thead
{
	background-color: #999;
	color: #fff;
	text-align: left;
	
}

table.styled thead a { color: #fff; }
table.styled thead th.sortup a,
table.styled thead th.sortdown a
{
	color: #fff;
	background-color: #666;
}


table.styled .even
{
	background-color: #eee;
}

table.styled .odd
{
	background-color: #fff;
}


table.styled tbody tr:hover,
table.styled tbody tr:hover a
{
	background-color: #369;
	color: #fff;
}



table.arversions
{
	border-collapse: collapse;
	width: 100%;
	border-color: #666;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 1em;
}

table.arversions th,
table.arversions td { padding: 0.3em 1em; }

table.arversions caption
{
	font-size: 1.3em;
	font-weight: bold;
	text-align: left;
}

table.arversions thead
{
	background-color: #999;
	color: #fff;
	text-align: left;
	
}

table.arversions .even
{
	background-color: #eee;
}

table.arversions del
{
	color: red;
}

table.arversions ins
{
	color: green;
	text-decoration: none;
}


table.arattributes th { text-align: right; }

.arversion_date { color: #999; }


.record_view
{
	background-color: #eee;
	border-color: #ccc;
	border-width: 1px 0;
	border-style: solid;
	padding: 1em 1em 0 1em;
	margin-bottom: 1em;
}

.record_view p { line-height: 130%; }

.record_view .note
{
	color: grey;
	font-weight: normal;
}

.edit_record_form em
{
	color: red;
	font-style: normal;
}

.relationship
{
	background-color: #FFF4E6;
	border-color: #FF8A00;
	border-width: 1px 0;
	border-style: solid;
	padding: 1em 1em 0 1em;
	margin-bottom: 1em;
}

.smartrelationship
{
	background-color: #FFE;
	border-color: #FF0;
	border-width: 1px 0 1px 0;
	border-style: solid;
	padding: 1em 1em 0 1em;
	margin-bottom: 1em;
}

/* Visualization of the racks */

.v_rack
{
	margin: 0;
	padding: .5em;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.v_rack_name
{
	font-size: 18px;
	font-weight: bold;
}

.v_rack_container
{
	background-color: #D3EEFF;
	padding: 5px;
	border-color: #036;
	border-width: 1px 0 1px 0;
	border-style: solid;
}

ul.v_rack_node
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.v_rack_node li a
{
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	margin-top: 3px;
	padding: 4px 5px;
	display: block;
	text-decoration: none;
	color: black;
	overflow: hidden;
}

table.network_summary
{
	width: 100%;
	background-color: #D3EEFF;
	border-color: #036;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 1em;
}
table.network_summary td
{
	width: 50%;
}

table.network_summary caption
{
	font-size: 1.3em;
	font-weight: bold;
	text-align: left;
}

#dashboard_body { margin-right: 25em; }

#dashboard_menu
{
	width: 23em;
	float: right;
}

#loginbox
{
	background-color: #eee;
	border-color: #ccc;
	border-width: 1px 0;
	border-style: solid;
	padding: 1em 1em 0 1em;
	margin: 1em auto 0 auto;
	width: 300px;
}

#loginbox p { text-align: right; }

#status_chart
{
  /* Center this chart */
  margin-left: auto;
  margin-right: auto;
  /* The chart is defined as 300px wide when created in the dashboard controller */
  width: 300px;
}
#client_chart
{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/* Hide all HRs, they are only meant for print, or non CSS browsers */
hr { display: none; }